html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.header {
    z-index: 2;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 100vw;
    display: flex;
    justify-content: left;
    pointer-events: none;
}

.header-title {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 0px 15px #FFB84D;
    background: #6f707433;
    border-radius: 18px;
    padding: 10px 48px;
    pointer-events: auto;
    border: 3px solid #FFB84D; 

}

.center-btn-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ps-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(200, 200, 200);
    border-radius: 1000px;
    box-shadow: 0 0px 32px #008cff, 0 0px 7px #0009;
    width: 136px;
    height: 136px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.22s, transform 0.18s;
    position: relative;
    transition: 0.5s;
}

.ps-btn:hover {
    box-shadow: 0 0px 48px #FFB84D,0 0px 10px #000c;
    transform: scale(1.07);
    transition: 0.5s;
    background: rgb(64, 64, 64);
}

.ps-btn svg:hover {
    transform: scale(1.07);
    transition: 0.5s;
    fill: #FFB84D;
}

.ps-btn svg {
    width: 67px;
    height: 67px;
    filter: drop-shadow(0 0px 13px #0282ff33);
    fill: #008cff;
    transition: 0.5s;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
}

.logo-btn {
    background: transparent;
    box-shadow: none;
    width: 500px;
    height: 500px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-btn:hover {
    box-shadow: 0 0px 48px #FFB84D, 0 0px 10px #000c;
    transform: scale(1.07);
}

#console {
    color: #FFF;
    background-color: #6f707433;
    border-radius: 18px;
    width: 90%;
    height: 18%;
    margin: 0 auto; 
    border: 1px solid #FFB84D;
    padding: 10px; 
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 5px;
    right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.floating-menu {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.menu-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s;
    margin-left: 10px;
}

.menu-btn:hover {
    background-color: #FFB84Dc4;
    color: #222222;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: none;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    box-sizing: border-box;
}

.popup h2 {
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 1px;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.close-btn {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    margin-top: 0;
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 9999;
}

.close-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

.close-btn:active {
    transform: scale(0.98);
}

#DebugConsole h3 {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: .08em;
    background: #6f707433;
    border-radius: 18px;
    padding: 10px;
    pointer-events: auto;
    position: absolute;
    bottom: 25%;
    align-items: center;
    display: flex;
    margin: 0 auto;
    left: 5%;

}

#button-container {
    color: #FFF;
    background-color: #6f707433;
    border-radius: 18px;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    border: 1px solid #FFB84D; 
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    overflow-y: auto;
    position: absolute;
    top: 40%;
    left: 5px;
    right: 5px;
}

#button-container button {
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid #FFB84D;
    border-radius: 10px;
    background-color: #6f707433;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s ease;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

#button-container button:hover {
    background-color: #FFB84D;
    color: #222222;
}

.floating-menu-payloads {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    background-color: #6f707433;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(34, 34, 34);
    z-index: 1000;
}

.floating-menu-payloads button {
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}
.floating-menu-payloads button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#tools {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 5px;
    right: 5px;

}

#PS4FW {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 5px;
    right: 5px;
}

#jailbreak-page label {
    font-family: Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 5;
    color: white;
    margin-top: 20%;
    white-space: nowrap;
    padding: 1%;
}

#settings-popup label {
    margin: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#settings-popup input[type="radio"] {
    accent-color: white;
}

#PS4FWOK {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin: 1%;
  padding: 20px;
}

#listfw {
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: #555;
    color: white;
    width: 90%;
    border-radius: 15px;
}

#choosejb {
  width: 250px; 
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  margin: 1%;
}

#choosejb h3 {
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.radio-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#choosejb label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 0.9em;
}

#autojbchkb {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#autojbchkb input[type="checkbox"] {
  margin-right: 5px;
}

#debugconsolechkb {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#debugconsolechkb input[type="checkbox"] {
  margin-right: 5px;
}

#install-psfrl {
    width: 25%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 5px;
    background: transparent;
    border: 2px solid #2196F3;
    color: #008cff;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.25s ease;
}

#install-psfrl:hover {
    border: 2px solid #FFB84D;
    border-radius: 15px;
    color: #FFB84D;
    background-color: #333;
}

#install-psfrf {
    width: 25%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 5px;
    background: transparent;
    border: 2px solid #2196F3;
    color: #008cff;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.25s ease;
    display: flex;
}

#install-psfrf:hover {
    border: 2px solid #FFB84D;
    border-radius: 15px;
    color: #FFB84D;
    background-color: #333;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-circle {
    width: 50px;
    height: 50px;
    border: 8px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (max-width: 600px) {
    .header-title { font-size: 1.3em; padding: 5px 14px;}
    .ps-btn { width: 90px; height: 90px;}
    .ps-btn svg { width: 44px; height: 44px;}
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shiny-text {
  font-weight: bold;
  font-size: 38px;
  color: #00ccff; /* أزرق كهربائي ثابت */
  text-align: center;
}
